# Build Folders
bin/
obj/

# User-Specific Files
*.user
*.userosscache
*.suo

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Backup Files
*.bak
*.swp

# Log Files
*.log

# IDE Configuration Files
*.ide.*
*.orig

# Package Management
*.nupkg
*.snupkg
packages/

# Temporary Files
~$*

# Resharper Files
_ReSharper*/
*.DotSettings.user

# Rider Files
.idea/

# Other
Thumbs.db
